{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Main
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}
{% block content %}
    <div class="content-body">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-6 col-xxl-12">
                    <div class="card">

                        <div class="card-body shadow-lg ">

                            <div class="header-section">
                                <h1>Upload Files</h1>
                            </div>
                            {% if not uploaded %}
                                {#                            {% if not uploaded or not dict_files %}#}
                                <form method="POST" action="{% url 'detector:upload' %}" enctype="multipart/form-data">
                            {% endif %}

                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input"
                                           name="myfiles" multiple required>

                                    <label class="custom-file-label">Choose file</label>

                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                            </div>
                            </form>


                            {#                            {% include 'includes/merge.html' %}#}
                        </div>
                    </div>
                    {% if  show or flag %}
                        {% include 'includes/chiking.html' %}
                    {% endif %}
                    {% include 'includes/dbupload.html' %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}