{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Main
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}
{% block content %}

    <div class="content-body">
        <div class="container-fluid">

            <div class="m-4">

            </div>
            <div class="row">
                <div class="col-xl-6 col-xxl-12">
                    <div class="card">

                        <div class="card-body shadow-lg ">

                            <div class="header-section">
                                <h1>Upload Files</h1>
                            </div>
                            {% if not uploaded or not dict_files %}

                                <form method="POST" action="{% url 'detector:upload' %}" enctype="multipart/form-data">
                            {% endif %}
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input"
                                           name="myfiles" multiple required>

                                    <label class="custom-file-label">Choose file</label>

                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                            </div>
                            </form>


                            {#                            {% include 'includes/merge.html' %}#}
                        </div>
                    </div>
                    {% if not checked %}

                        {% if dict_list %}
                            <div class="row">
                                <div class="col-xl-6 col-xxl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Uploaded files</h4>
                                        </div>
                                        <div class="card-body">
                                            {% if wrong == False %}

                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-responsive-sm text-dark"
                                                           style="border: #0c0c0c">
                                                        <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>FileName</th>
                                                            <th>FileShape</th>
                                                            <th>Remove</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for item in dict_list %}
                                                            <tr>
                                                                <td><a>{{ item.dealer_name }}</a></td>
                                                                <td><a>{{ item.filename }}</a></td>
                                                                <td>{{ item.shape }}</td>
                                                                <td>
                                                                    <a class="btn btn-default btn-sm"
                                                                       style="background-color: grey"
                                                                       href="{% url 'detector:see' item.id %}">
                                                                        See
                                                                    </a>

                                                                    <a class="btn btn-default btn-sm"
                                                                       style="background-color: grey"
                                                                       methods="POST"
                                                                       href="{% url 'detector:remove' item.id %}">
                                                                        Remove
                                                                    </a>

                                                                </td>

                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="input-group-prepend">
                                                    <a class="btn btn-primary"
                                                       href="{% url 'detector:load' %}">Confirm</a>
                                                </div>


                                            {% elif wrong == True %}
                                                <div class="alert alert-primary">
                                                    <strong>Error!</strong>
                                                    Only *xlsx and *csv file allowed
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% endif %}

                    <div class="row">
                        <div class="col-xl-6 col-xxl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Uploaded to Database</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-responsive-sm text-dark"
                                               style="border: #0c0c0c">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>FileName</th>
                                                <th>FileShape</th>
                                                <th>LastModified</th>
                                            </tr>
                                            </thead>
                                            {% if your_sheets %}

                                                <tbody>

                                                {% for item in your_sheets %}
                                                    <tr>
                                                        <td><a>{{ item.dealer_name }}</a></td>
                                                        <td><a>{{ item.filename }}</a></td>
                                                        <td>{{ item.shape }}</td>
                                                        <td>{{ item.last_modified }}</td>


                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            {% endif %}

                                        </table>
                                    </div>
                                    <div class="input-group-prepend">
                                        <a class="btn btn-default btn-sm"
                                           style="background-color: grey"
                                           href="{% url 'detector:download' %}">
                                            Download
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        {% if uploaded %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Uploaded dataset</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-responsive-sm text-dark"
                                                       style="border: #0c0c0c">
                                                    <thead>
                                                    <tr>
                                                        <th>part_number</th>
                                                        <th>Dealer</th>
                                                        <th>delivery</th>
                                                        <th>on_stock</th>
                                                        <th>price</th>
                                                        <th>last_modified</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in uploaded %}
                                                        <tr>
                                                            <td>{{ item.part_number }}</td>
                                                            <td>{{ item.dealer_name }}</td>
                                                            <td>{{ item.delivery }}</td>
                                                            <td>{{ item.on_stock }}</td>
                                                            <td>{{ item.price }}</td>
                                                            <td>{{ item.last_modified }}</td>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="input-group-prepend">
                                                <a class="btn btn-primary"
                                                   href="{% url 'detector:load' %}">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}