{% if not checked %}
    {% if dict_list %}
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Uploaded files</h4>
                    </div>
                    <div class="card-body">
                        {% if wrong == False %}

                            <div class="table-responsive">
                                <table class="table table-bordered table-responsive-sm text-dark"
                                       style="border: #0c0c0c">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>FileName</th>
                                        <th>FileShape</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in dict_list %}
                                        <tr>
                                            <td><a>{{ item.dealer_name }}</a></td>
                                            <td><a>{{ item.filename }}</a></td>
                                            <td>{{ item.shape }}</td>
                                            <td>
                                                <a class="btn btn-default btn-sm"
                                                   style="background-color: grey"
                                                   href="{% url 'detector:see' item.id %}">
                                                    See
                                                </a>

                                                <a class="btn btn-default btn-sm"
                                                   style="background-color: grey"
                                                   methods="POST"
                                                   href="{% url 'detector:remove' item.id %}">
                                                    Remove
                                                </a>

                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                            <div class="input-group-prepend">
                                <a class="btn btn-primary"
                                   href="{% url 'detector:load' %}">Confirm</a>
                            </div>


                        {% elif wrong == True %}
                            <div class="alert alert-primary">
                                <strong>Error!</strong>
                                Only *xlsx and *csv file allowed
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title bg-w">

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}

{% endif %}


